---
- name: Fail if Operating System is not Supported
  fail:
    msg: "Minimum Operating System Version Ubuntu 14.04"
  when:
    - ansible_distribution != 'Ubuntu'
    - ansible_distribution_major_version | int >= 14

- name: Get Service Init Status
  stat:
    path: /sbin/init
  register: service_init_status

- name: Get ZFS Path Info
  shell: which zfs || true
  args:
    warn: false
  register: zfs_path_info

- name: Fail if ZFS Path not Found
  fail:
    msg: "ZFS Packages Required"
  when:
    - zfs_path_info.stdout.find("zfs") == -1

- name: Get ZFS Dataset Lists
  shell: zfs list
  register: zfs_dataset_lists

- name: Set Host Facts
  set_fact:
    sanoid_zfs_dataset: "{{ sanoid_zfs_dataset | default(default_value, true) }}"
    sanoid_master: "{{ sanoid_master | default(default_value, true) }}"

- name: Fail if ZFS Dataset not Found
  fail:
    msg: "ZFS Dataset not Found"
  when:
    - zfs_dataset_lists.stdout.find(sanoid_zfs_dataset) != -1
