#!/bin/bash

export PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

(
 echo "--------------------------------------------------" 
 echo $(date) sanoid start

 echo ""
 run-one sanoid --cron --verbose
 echo ""

 echo $(date) sanoid end
 echo "--------------------------------------------------"
) >> /var/log/sanoid-cron.log 2>&1 &

exit 0
