#!/bin/bash

(
 echo "--------------------------------------------------" 
 echo $(date) sanoid start
 
 echo ""
 /usr/local/bin/sanoid --cron --verbose
 echo ""

 echo $(date) sanoid end
 echo "--------------------------------------------------"
) >> /var/log/sanoid-cron.log 2>&1 &

exit 0
