## ZFS Section ##
{% for item in sanoid_zfs_datasets %}
[{{ item.dataset }}]
  use_template = {% if item.template %}{{ item.template }}{% else %}default{% endif %}{{''}}
  process_children_only = {% if item.process_children_only %}yes{% else %}no{% endif %}{{''}}
  recursive = {% if item.recursive %}yes{% else %}no{% endif %}{{''}}
{% endfor %}
## Template Section ##
[template_default]
  hourly       = {% if inventory_hostname not in groups['syncoid'] %}{{ sanoid_snapshot_keep_hourly }}{% else %}{{ syncoid_snapshot_keep_hourly }}{% endif %}{{''}}
  daily        = {% if inventory_hostname not in groups['syncoid'] %}{{ sanoid_snapshot_keep_daily }}{% else %}{{ syncoid_snapshot_keep_daily }}{% endif %}{{''}}
  monthly      = {% if inventory_hostname not in groups['syncoid'] %}{{ sanoid_snapshot_keep_monthly }}{% else %}{{ syncoid_snapshot_keep_monthly }}{% endif %}{{''}}
  yearly       = {% if inventory_hostname not in groups['syncoid'] %}{{ sanoid_snapshot_keep_yearly }}{% else %}{{ syncoid_snapshot_keep_yearly }}{% endif %}{{''}}
  autosnap     = {% if inventory_hostname not in groups['syncoid'] %}{% if sanoid_auto_snap %}yes{% else %}no{% endif %}{% else %}no{% endif %}{{''}}
  autoprune    = {% if inventory_hostname not in groups['syncoid'] %}{% if sanoid_auto_prune %}yes{% else %}no{% endif %}{% else %}yes{% endif %}{{''}}
