## ZFS Section ##
[{{ sanoid_zfs_dataset }}]
  use_template = production
  process_children_only = {% if sanoid_zfs_process_children_only %}yes{% else %}no{% endif %}{{''}}
  recursive = {% if sanoid_zfs_recursive %}yes{% else %}no{% endif %}{{''}}

## Template Section ##
[template_production]
  hourly       = {% if inventory_hostname not in groups['syncoid'] %}{{ sanoid_snapshot_keep_hourly }}{% else %}{{ syncoid_snapshot_keep_hourly }}{% endif %}{{''}}
  daily        = {% if inventory_hostname not in groups['syncoid'] %}{{ sanoid_snapshot_keep_daily }}{% else %}{{ syncoid_snapshot_keep_daily }}{% endif %}{{''}}
  monthly      = {% if inventory_hostname not in groups['syncoid'] %}{{ sanoid_snapshot_keep_monthly }}{% else %}{{ syncoid_snapshot_keep_monthly }}{% endif %}{{''}}
  yearly       = {% if inventory_hostname not in groups['syncoid'] %}{{ sanoid_snapshot_keep_yearly }}{% else %}{{ syncoid_snapshot_keep_yearly }}{% endif %}{{''}}
  autosnap     = {% if inventory_hostname not in groups['syncoid'] %}{% if sanoid_auto_snap %}yes{% else %}no{% endif %}{% else %}no{% endif %}{{''}}
  autoprune    = {% if inventory_hostname not in groups['syncoid'] %}{% if sanoid_auto_prune %}yes{% else %}no{% endif %}{% else %}yes{% endif %}{{''}}
